.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
  color: #fff;
  text-align: center;

  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_bottom.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
