html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body,
ul {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: rgba(0,0,0,0.8);
  backdrop-filter: saturate(180%) blur(20px);
  text-align: center;
}

.nav__link {
  display: block;

  color: #fff;
  text-decoration: none;
  font-size: 1rem;

  padding: 10px 20px;
  margin: 0 20px;

  transition: 0.3s color;
}

.nav__link:hover {
  color: #1fc8db;
}

.nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  height: 0;
  overflow: hidden;
}

.nav__toggler {
  display: block;
  color: #fff;
  font-size: 1rem;

  padding: 10px 20px;
  margin: 0 auto;

  background-color: transparent;
  border: 0;

  transition: 0.3s color;
}

.nav__toggler:hover {
  color: #1fc8db;
  cursor: pointer;
}

.nav__toggler:before {
  content: '=';
}

.nav__toggler-check {
  display: none;
}

.nav__list--opened .nav__toggler:before {
  content: 'x';
}

.nav__list--opened .nav__list {
  height: auto;
}

@media (min-width: 640px) {
  .nav__list {
    flex-direction: row;
    justify-content: center;

    height: auto;
  }

  .nav__toggler {
    display: none;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
  color: #fff;
  text-align: center;

  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_bottom.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: sticky;
  top: 0;
}

.main {
  background-color: antiquewhite;
  padding: 10px 20px;
}

.promo {
  height: 300px;
  background-image: url("https://mate-academy.github.io/fe-program/assets/MA_top.jpg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
